<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!--<link rel="manifest" href="site.webmanifest">-->
        <!--<link rel="apple-touch-icon" href="icon.png">-->
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
        <style>
          * { box-sizing: border-box; }
          html, body { font-family: sans-serif; background-color: #fcfcff; }
          label, input { display: block; }
          input { width: 100%;  max-width: 100%; border: 0; border-bottom: 1px solid #f4f2f2; }
          label + input { margin-top: 6px; }
          button { border: 0; border-bottom: 1px solid lightgrey; display: inline-block; padding: 6px 12px; }
          h1, h2, h3 { margin: 12px 0 0 0; line-height: 1.4; }
          .t-center { text-align: center; }
          .u-center { margin: 0 auto; display: block; }
          .c-card { max-width: 600px; padding: 8px; border-radius: 2px; background-color: #fff; box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);}
          .controlGroup { margin-top: 8px; }
          .restaurantsApp { padding: 24px 8px 16px 8px; }
          .restaurantForm { padding: 12px; }
          .restaurant-name { display: inline-block; }
          .restaurant-fav { cursor: pointer; }
          .restaurant { margin-top: 16px; }
          .tagSearch { margin-top: 16px; border: 0; }
          .c-modal {
            padding: 24px; position: fixed;
            width: 400px;
            max-width: 100%;
            top: 40px; left: 50%; transform: translateX(-50%);
            box-shadow: 0px 0px 8px 1.5px rgba(0, 0, 0, 0.3);
            transition: top 290ms ease;
          }
          .trans-modal-enter { top: -100px; }
          .trans-modal-leave { top: -100px; }
          .fud { color: rgba(245, 242, 242, 0.4); font-size: 128px; position: fixed; top: 12px; left: 32px; pointer-events: none; }
        </style>
    </head>

    <body>
        <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/fuse.js/3.0.4/fuse.min.js"></script>
        <script src="https://unpkg.com/vue@2.5.2/dist/vue.js"></script>
        <div id="app"></div>
        <h1 class="fud"> füd </h1>

        <script id="template-app-root" type="text/x-template">
          <div class="restaurantsApp">

            <modal class="c-card c-modal" v-if="showAuth" @done="showAuth = false; submitSecret()">
              <div>
                <label> Secret </label>
                <input type="text" v-model="secret" placholder="secret word" />
              </div>
            </modal>

            <restaurant-form class="c-card u-center"
              @submit-restaurant="doSubmit">
            </restaurant-form>

            <input type="search" placeholder="filter by tag" class="tagSearch c-card u-center" v-model="searchTerm" />

            <div class="restaurants"  v-if="filtered.length">
              <restaurant v-for="res in filtered"
                @favorited="toggleFav(res.id)"
                :fav="favorites.some(f => f === res.id)"
                :address="res.address"
                :tags="res.tags"
                :name="res.name"
                :key="res.id">
              </restaurant>
            </div>

            <p v-else class="u-hint t-center"> um </p>
          </div>
        </script>

        <script id="template-modal" type="text/x-template">
          <transition name="trans-modal">
            <div>
                <slot></slot>
                <button @click="$emit('done')">Bark</button>
            </div>
          </transition>
        </script>

        <script id="template-restaurant" type="text/x-template">
            <div class="restaurant u-center c-card">
              <span class="restaurant-fav" @click="$emit('favorited')">{{ fav ? 'fav' : 'nok' }} </span>
              <h3 class="restaurant-name">{{ name }}</h3>

              <p class="restaurant-address">{{ address }}</p>
              <p class="restaurant-tags">{{ tags }}</p>
              <p class="restaurant-tags">{{ avgRating }}</p>
            </div>
        </script>

        <script id="template-post-restaurant" type="text/x-template">
          <div class="restaurantForm">
            <div class="controlGroup">
              <label> Name </label>
              <input type="text" v-model="name" />
            </div>

            <div class="controlGroup">
              <label> Address </label>
              <input type="text" v-model="address" />
            </div>

            <div class="controlGroup">
              <label> Tags </label>
              <input type="text" v-model="tags" />
            </div>

            <div class="controlGroup">
              <button type="button" @click="submitRestaurant"> Submit </button>
            </div>
          </div>
        </script>

        <script>
          new Vue({
            el: '#app',
            name: 'RestaurantsApp',
            template: '#template-app-root',

            data: {
              showAuth: false,
              favorites: [],
              searchEngine: null,
              restaurants: [],
              searchTerm: '',
              secret: ''
            },

            computed: {
              filtered: function () {
                return (this.searchTerm === "")
                  ? this.restaurants
                  : this.searchEngine.search(this.searchTerm)
              }
            },

            methods: {
              fetchFactory: function (type = 'GET') {
                const GET = {
                  credentials: 'same-origin',
                }

                const POST = {
                  method: 'POST',
                  credentials: 'same-origin',
                  headers: { 'Content-Type': 'application/json' },
                }

                switch (type.toLowerCase()) {
                  case 'get': return GET; break;
                  case 'post': return POST; break;
                  default: return GET; 
                }

              },

              handleNok: function (resp) {
                if (resp.status === 403) {
                  console.warn('auth please')
                  this.showAuth = true

                } else if (resp.status === 401) {
                  console.warn('bad secret ok')
                  this.showAuth = true
                }

                else return resp
              },

              procResp: function (resp) {
                return resp.json().then(data => {
                  return {
                    ok: resp.ok,
                    status: resp.status,
                    data
                  }
                })
              },

              getFavs: function () {
                return fetch('/api/favs', this.fetchFactory())
                  .then(this.procResp)
                  .then(this.handleNok)
                  .then(resp => resp.data)
              },

              toggleFav: function (rid) {
                return fetch('/api/favs', {
                  ...this.fetchFactory('POST'),
                  body: JSON.stringify({ restaurantId: rid })
                })
                .then(this.handleNok)
                .then(this.procResp)
                .then(this.getRestaurants)
                .then(data => {
                  this.restaurants = data.restaurants
                  return this.getFavs()
                })
                .then(data => {
                  this.favorites = data.favorites
                })
              },

              submitSecret: function () {
                let secret = this.secret
                this.secret = ''

                fetch('/api/secret', {
                  ...this.fetchFactory('POST'),
                  body: JSON.stringify({ secret })
                })
                .then(this.procResp)
                .then(data => {

                })
                .catch(this.handleNok)
              },

              doSubmit: function (body) {
                this.postRestuarant(body)
                  .then(this.getRestaurants)
                  .then(data => {
                    this.restaurants = data.restaurants
                  })
                  .catch(this.handleNok)
              },

              getRestaurants: function () {
                return fetch('/api/restaurants', this.fetchFactory())
                  .then(this.procResp)
                  .then(resp => {
                    return resp.data
                  })
              },

              postRestuarant: function (body) {
                  return fetch('/api/restaurants', {
                    ...this.fetchFactory('POST'),
                    // weee
                    body: JSON.stringify(body)
                  })
                  .then(this.procResp)
                  .then(resp => {
                      if (!resp.ok) {
                        throw resp
                      } else {
                        return resp.data
                      }
                  })
              }
            },

            created: function created () {
              this.getFavs()
                .then(data => {
                  this.favorites = data.favorites
                })

              this.getRestaurants()
                .then(data => {
                  console.info(data)
                  this.restaurants = data.restaurants

                  this.searchEngine = new window.Fuse(this.restaurants, {
                    findAllMatches: true,
                    threshold: 0.5,
                    shouldSort: true,
                    keys: ['tags', 'name']
                  })
                })
            },

            components: {
              Modal: {
                template: '#template-modal',
                methods: {
                  close: function () {
                    this.$emit('done')
                  }
                }
              },

              Restaurant: {
                template: '#template-restaurant',
                props: ['address', 'name', 'tags', 'avgRating', 'fav']
              },

              RestaurantForm: {
                template: '#template-post-restaurant',

                data: function () {
                  return {
                    name: '',
                    address: '',
                    tags: []
                  }
                },

                methods: {
                  submitRestaurant: function submitRestaurant () {
                    const body = {
                      name: this.name,
                      address: this.address,
                      tags: this.tags && this.tags.split(',').map(t => t.trim())
                    }

                    this.$emit('submit-restaurant', body)

                    this.name = ''
                    this.address = ''
                    this.tags = []
                  }
                }
              }
            }
          })
        </script>

        <!--[><script src="js/vendor/modernizr-3.5.0.min.js"></script><]-->
        <!--[><script src="js/main.js"></script><]-->

        <!--[> Google Analytics: change UA-XXXXX-Y to be your site's ID. <]-->
        <!--<script>-->
            <!--window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;-->
            <!--ga('create','UA-XXXXX-Y','auto');ga('send','pageview')-->
        <!--</script>-->
        <!--<script src="https://www.google-analytics.com/analytics.js" async defer></script>-->
    </body>
</html>
