<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!--<link rel="manifest" href="site.webmanifest">-->
        <!--<link rel="apple-touch-icon" href="icon.png">-->
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
        <style>
          * { box-sizing: border-box; }
          html, body { font-family: sans-serif; background-color: #fcfcff; }
          label, input { display: block; }
          input { width: 100%;  max-width: 100%; border: 0; border-bottom: 1px solid #f4f2f2; }
          label + input { margin-top: 6px; }
          button { border: 0; border-bottom: 1px solid lightgrey; display: inline-block; padding: 6px 12px; }
          .t-center { text-align: center; }
          .u-center { margin: 0 auto; display: block; }
          .c-card { max-width: 600px; padding: 8px; border-radius: 2px; background-color: #fff; box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);}
          .controlGroup { margin-top: 8px; }
          .restaurantsApp { padding: 24px 8px 16px 8px; }
          .restaurantForm { padding: 12px; }
          .restaurant { margin-top: 16px; }
          .tagSearch { margin-top: 16px; border: 0; }
          .fud { color: rgba(245, 242, 242, 0.4); font-size: 128px; position: fixed; top: 12px; left: 32px; pointer-events: none; }
        </style>
    </head>

    <body>
        <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/fuse.js/3.0.4/fuse.min.js"></script>
        <script src="https://unpkg.com/vue@2.5.2/dist/vue.js"></script>
        <div id="app"></div>
        <h1 class="fud"> füd </h1>

        <script id="template-app-root" type="text/x-template">
          <div class="restaurantsApp">

            <restaurant-form class="c-card u-center"
              @submit-restaurant="doSubmit">
            </restaurant-form>

            <input type="search" placeholder="filter by tag" class="tagSearch c-card u-center" v-model="searchTerm" />

            <div class="restaurants"  v-if="filtered.length">
              <restaurant v-for="res in filtered"
                :address="res.address"
                :tags="res.tags"
                :name="res.name"
                :key="res.id">
              </restaurant>
            </div>

            <p v-else class="u-hint t-center"> um </p>
          </div>
        </script>

        <script id="template-restaurant" type="text/x-template">
            <div class="restaurant u-center c-card">
              <h3 class="restaurant-name">{{ name }}</h3>
              <p class="restaurant-address">{{ address }}</p>
              <p class="restaurant-tags">{{ tags }}</p>
              <p class="restaurant-tags">{{ avgRating }}</p>
            </div>
        </script>

        <script id="template-post-restaurant" type="text/x-template">
          <div class="restaurantForm">
            <div class="controlGroup">
              <label> Name </label>
              <input type="text" v-model="name" />
            </div>

            <div class="controlGroup">
              <label> Address </label>
              <input type="text" v-model="address" />
            </div>

            <div class="controlGroup">
              <label> Tags </label>
              <input type="text" v-model="tags" />
            </div>

            <div class="controlGroup">
              <button type="button" @click="submitRestaurant"> Submit </button>
            </div>
          </div>
        </script>

        <script>
          new Vue({
            el: '#app',
            name: 'RestaurantsApp',
            template: '#template-app-root',

            data: {
              searchEngine: null,
              restaurants: [],
              searchTerm: ''
            },

            computed: {
              filtered: function () {
                return (this.searchTerm === "")
                  ? this.restaurants
                  : this.searchEngine.search(this.searchTerm)
              }
            },
            methods: {
              doSubmit: function (body) {
                this.postRestuarant(body)
                  .then(this.getRestaurants)
                    .then(data => {
                      this.restaurants = data.restaurants
                    })
              },

              getRestaurants: function () {
                return fetch('/api/restaurants')
                .then(resp => resp.json())
              },

              postRestuarant: function (body) {
                  return fetch('/api/restaurants', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    // weee
                    body: JSON.stringify(body)
                  })
                  .then(resp => resp.json())
              }
            },

            created: function created () {
              this.getRestaurants()
                .then(data => {
                  console.info(data)
                  this.restaurants = data.restaurants

                  this.searchEngine = new window.Fuse(this.restaurants, {
                    findAllMatches: true,
                    threshold: 0.5,
                    shouldSort: true,
                    keys: ['tags', 'name']
                  })
                })
            },

            components: {
              Restaurant: {
                template: '#template-restaurant',
                props: ['address', 'name', 'tags', 'avgRating']
              },

              RestaurantForm: {
                template: '#template-post-restaurant',

                data: function () {
                  return {
                    name: '',
                    address: '',
                    tags: []
                  }
                },

                methods: {
                  submitRestaurant: function submitRestaurant () {
                    const body = {
                      name: this.name,
                      address: this.address,
                      tags: this.tags && this.tags.split(',').map(t => t.trim())
                    }

                    this.$emit('submit-restaurant', body)

                    this.name = ''
                    this.address = ''
                    this.tags = []
                  }
                }
              }
            }
          })
        </script>

        <!--[><script src="js/vendor/modernizr-3.5.0.min.js"></script><]-->
        <!--[><script src="js/main.js"></script><]-->

        <!--[> Google Analytics: change UA-XXXXX-Y to be your site's ID. <]-->
        <!--<script>-->
            <!--window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;-->
            <!--ga('create','UA-XXXXX-Y','auto');ga('send','pageview')-->
        <!--</script>-->
        <!--<script src="https://www.google-analytics.com/analytics.js" async defer></script>-->
    </body>
</html>
